// Theme Colors
$primary: #ff3287;
$secondary: #16be7e;
$light: #fff9f1;

// Globals
$enable-rounded: false;
$enable-button-pointers: false;
$enable-negative-margins: true;
$enable-smooth-scroll: false;